.homeApp {
  color: red;

  display: flex;
  flex-direction: column;
  align-items: right;
  justify-content: center;
  padding: 0;
  width: 100%;
}

.loading {
  color: black;
}

.column {
  flex-direction: column;
  padding: 0;
  height: 100vh;
}

.header {
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #9b27af;
  padding: 3px 10px;
}

.header span {
  font-size: 16px;
  font-weight: 300;
  font-family: "Open Sans", sans-serif;
  color: #ffffff;
  text-transform: uppercase;
}

.input {
  display: flex;
  flex-direction: column;
  margin: 5px 10px;
  position: relative;
  padding-top: 7px;
}

.input input {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 1px solid #d2d2d2;
  outline: 0;
  font-size: 16px;
  color: black;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}

.input label {
  position: absolute;

  color: #9b9b9b;
  top: 0;
}

.input input::placeholder {
  color: transparent;
  font-size: 12px;
}
